Repository damdam6/cs-tech-interview-study-2024, pull requests merged in 2024-06, with the labels that each got.

#3 week01 - Damongsanga - cs-study
  cs-study/week01/Damongsanga/트랜잭션 스크립트 패턴 vs 도메인 모델 패턴.md
  cs-study/week01/Damongsanga/트랜잭션 스크립트 패턴 vs 도메인 모델 패턴/Untitled 1.png
  cs-study/week01/Damongsanga/트랜잭션 스크립트 패턴 vs 도메인 모델 패턴/Untitled 2.png
  cs-study/week01/Damongsanga/트랜잭션 스크립트 패턴 vs 도메인 모델 패턴/Untitled 3.png
  cs-study/week01/Damongsanga/트랜잭션 스크립트 패턴 vs 도메인 모델 패턴/Untitled 4.png
  cs-study/week01/Damongsanga/트랜잭션 스크립트 패턴 vs 도메인 모델 패턴/Untitled 5.png
  cs-study/week01/Damongsanga/트랜잭션 스크립트 패턴 vs 도메인 모델 패턴/Untitled 6.png
  cs-study/week01/Damongsanga/트랜잭션 스크립트 패턴 vs 도메인 모델 패턴/Untitled 7.png
  cs-study/week01/Damongsanga/트랜잭션 스크립트 패턴 vs 도메인 모델 패턴/Untitled 8.jpeg
  cs-study/week01/Damongsanga/트랜잭션 스크립트 패턴 vs 도메인 모델 패턴/Untitled 9.jpeg
  cs-study/week01/Damongsanga/트랜잭션 스크립트 패턴 vs 도메인 모델 패턴/Untitled.png
Labels: 최종, cs-study

#2 week01 - damdam6 - cs-study
  cs-study/week01/damdam6/mongoDB자세히알아보기/MongoDB 깊게 탐구하기 이미지/Untitled 1.png
  cs-study/week01/damdam6/mongoDB자세히알아보기/MongoDB 깊게 탐구하기 이미지/Untitled 10.png
  cs-study/week01/damdam6/mongoDB자세히알아보기/MongoDB 깊게 탐구하기 이미지/Untitled 2.png
  cs-study/week01/damdam6/mongoDB자세히알아보기/MongoDB 깊게 탐구하기 이미지/Untitled 3.png
  cs-study/week01/damdam6/mongoDB자세히알아보기/MongoDB 깊게 탐구하기 이미지/Untitled 4.png
  cs-study/week01/damdam6/mongoDB자세히알아보기/MongoDB 깊게 탐구하기 이미지/Untitled 5.png
  cs-study/week01/damdam6/mongoDB자세히알아보기/MongoDB 깊게 탐구하기 이미지/Untitled 6.png
  cs-study/week01/damdam6/mongoDB자세히알아보기/MongoDB 깊게 탐구하기 이미지/Untitled 7.png
  cs-study/week01/damdam6/mongoDB자세히알아보기/MongoDB 깊게 탐구하기 이미지/Untitled 8.png
  cs-study/week01/damdam6/mongoDB자세히알아보기/MongoDB 깊게 탐구하기 이미지/Untitled 9.png
  cs-study/week01/damdam6/mongoDB자세히알아보기/MongoDB 깊게 탐구하기 이미지/Untitled.png
  cs-study/week01/damdam6/mongoDB자세히알아보기/MongoDB 깊게 탐구하기.md
  cs-study/week01/damdam6/mongoDB자세히알아보기/MongoDB 자세히 알아보기.pdf
Labels: 최종, cs-study

#4 week01- Zerotay - tech-interview
  tech-interview/week01/Zerotay/what_happens_if_you_enter_url.md
Labels: tech-interview

#5 week01 - bbookng - tech-interview
  .gitignore
  tech-interview/week01/bbookng/transaction isolation level.md
  tech-interview/week01/temp.txt
Labels: 최종, tech-interview

#7 week02 - Zerotay - cs-study
  cs-study/week02/Zerotay/Kubernetes-outline.md
  cs-study/week02/Zerotay/Pasted image 20240619174810.png
  cs-study/week02/Zerotay/Pasted image 20240619193653.png
  cs-study/week02/Zerotay/Pasted image 20240621150956.png
  cs-study/week02/Zerotay/Pasted image 20240621152014.png
  cs-study/week02/Zerotay/Pasted image 20240621155736.png
  cs-study/week02/Zerotay/Pasted image 20240621160838.png
  cs-study/week02/Zerotay/Pasted image 20240621162122.png
Labels: 최종, cs-study

#6 week02 - Damongsanga - tech-interview
  .DS_Store
  cs-study/week01/Damongsanga/트랜잭션 스크립트 패턴 vs 도메인 모델 패턴/Untitled232323.png
  tech-interview/week02/Damongsanga/DB Index란.md
  tech-interview/week02/Damongsanga/DB Index란/Untitled.png
Labels: 최종, tech-interview
